<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap" rel="stylesheet">

<ion-content>
  <div id="bg">

    <div id="logo-holder">
      <img id="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRI0Z0n88J5ACroyXy43R9AABDzx0eL_G3mmA&usqp=CAU">
    </div>

    <div id="buttons-holder">
      <ion-button class="buttons" color="warning" shape="round" (click)="gotologin()">Login</ion-button>
      <br>
      <ion-button class="buttons" fill="outline" color="warning" shape="round" (click)="gotosignup()">Sign Up</ion-button>
    </div>

    <div id="copyright">
      <p style="font-size: 15px;">Copyright &copy; 2021</p>
      <p style="font-size: 13px;">All rights reserved.</p>
    </div>

  </div>

</ion-content>
